<widget-modal widget-modal-title="Create Property">
    <form name="cdf" class="form" ng-submit="ctrl.submit(cdf)" novalidate>
        <form-group input="propertyName" errors="{required: 'Property Name user name is required',
                                                minlength: 'Min length of 3 characters',
                                                maxlength: 'Max length of 50 characters',
                                                pattern : 'Special character(s) found. Please enter only letters, numbers or spaces.'}">
            <label class="modal-label">Property Name</label>
            <input
                    type="text"
                    name="propertyName"
                    class="form-control"
                    placeholder="Property Name"
                    ng-model="ctrl.propertyName"
                    required
                    maxlength="50"
                    autocomplete="off"
                    minlength="3"
                    ng-pattern="/^[a-zA-Z0-9 ]*$/"/>
            <span class="text-danger"></span>
        </form-group>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Create</button>
        </div>
    </form>
</widget-modal>